@import '../styles/variables/index.less';

.card {
  width: 240px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
}

.cardSmall{
  width: 200px;
  min-height: 100px;
  cursor: pointer;
}

.iconSelected{
  color: @success-color;
}

.cardContent{
  padding: 10px 16px;
}

.customImageWrapper{
  display: flex;
  height: 200px;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.customImageWrapper{
  display: flex;
  height: 200px;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}